<!doctype html>
<html class="no-js" lang="en" style="min-height: 100vh">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %} | PixSalle</title>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">

  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/css/slicknav.css">
  <link rel="stylesheet" href="/assets/css/flaticon.css">
  <link rel="stylesheet" href="/assets/css/hamburgers.min.css">
  <link rel="stylesheet" href="/assets/css/progressbar_barfiller.css">
  <link rel="stylesheet" href="/assets/css/gijgo.css">
  <link rel="stylesheet" href="/assets/css/animate.min.css">
  <link rel="stylesheet" href="/assets/css/animated-headline.css">
  <link rel="stylesheet" href="/assets/css/magnific-popup.css">
  <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="/assets/css/themify-icons.css">
  <link rel="stylesheet" href="/assets/css/slick.css">
  <link rel="stylesheet" href="/assets/css/nice-select.css">
  <link rel="stylesheet" href="/assets/css/style.css">

  {% block head %}{% endblock %}
  {% block styles %}{% endblock %}
</head>
<body class="d-flex flex-column" style="min-height: 100vh">
<div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-inner position-relative">
      <div class="preloader-circle"></div>
      <div class="preloader-img pere-text">
        <img src="/assets/img/logo/loder.png" alt="">
      </div>
    </div>
  </div>
</div>
<header>
{% block header %}{% endblock %}
  <div class="header-area">
    <div class="main-header header-sticky">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-xl-2 col-lg-2 col-md-1">
            <div class="logo">
              <a href="/"><img src="/assets/img/logo/logo.png" alt=""></a>
            </div>
          </div>
          <div class="col-xl-9 col-lg-10">
            <div class="main-menu black-menu menu-bg-white d-none d-lg-block">
              {% if session.email is not empty %}
                <nav class="d-flex align-items-center">
                  <div class="d-flex justify-content-center flex-grow-1">
                    <div>
                      <ul id="navigation">
                        <li><a href="/explore">Explore</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/portfolio">Portfolio</a></li>
                        <li><a href="/user/wallet">Wallet</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="flex-grow-0">
                    <ul>
                      <li>
                        {% if session.picture is defined %}
                          <a href="/profile"><img src="uploads/{{ session.picture }}" width="40" style="margin-right: 10px">Hi, {{ session.username }}!</a>
                        {% else %}
                            <a href="/profile"><img src="uploads/default.png" width="40" style="margin-right: 10px">Hi, {{ session.username }}!</a>
                        {% endif %}
                        <ul class="submenu">
                          <li><a href="/profile">Profile</a></li>
                          <li><a href="/user/membership">Membership</a></li>
                          <li><a onclick="signOut()" class="gj-cursor-pointer">Log Out</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </nav>
              {% else %}
                <nav class="d-flex justify-content-end align-items-center">
                  <div>
                    <ul id="navigation">
                      <li><a href="/sign-in">Sign In</a></li>
                      <li><a href="/sign-up">Sign Up</a></li>
                    </ul>
                  </div>
                </nav>
              {% endif %}
            </div>
          </div>
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="wrapper flex-grow-1">
  {% block content %}{% endblock %}
</main>
<footer>
  <div class="footer-wrappper">
    <div class="footer-area" style="padding-top: 30px">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="single-footer-caption mb-50 text-center">
              <div class="footer-logo mb-25">
                <a href="/"><img src="/assets/img/logo/logo2_footer.png" alt=""></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom-area">
      <div class="container">
        <div class="footer-border" style="padding-top: 0;">
          <div class="row d-flex align-items-center">
            <div class="col-xl-12 ">
              <div class="footer-copy-right text-center">
                <p style="margin-bottom: 0">Copyright &copy;<script>document.write(new Date().getFullYear());</script> PixSalle | All rights reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% block footer %}{% endblock %}
</footer>

<div id="back-top" >
  <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.slicknav.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/slick.min.js"></script>
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/animated.headline.js"></script>
<script src="/assets/js/jquery.magnific-popup.js"></script>
<script src="/assets/js/gijgo.min.js"></script>
<script src="/assets/js/jquery.nice-select.min.js"></script>
<script src="/assets/js/jquery.sticky.js"></script>
<script src="/assets/js/jquery.barfiller.js"></script>
<script src="/assets/js/jquery.counterup.min.js"></script>
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/jquery.countdown.min.js"></script>
<script src="/assets/js/hover-direction-snake.min.js"></script>

<script src="/assets/js/contact.js"></script>
<script src="/assets/js/jquery.form.js"></script>
<script src="/assets/js/jquery.validate.min.js"></script>
<script src="/assets/js/mail-script.js"></script>
<script src="/assets/js/jquery.ajaxchimp.min.js"></script>

<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>