{% extends "base.twig" %}

{% block title %}BlogDetail{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/assets/css/blogDetail.css">
{% endblock %}

{% block content %}

<div class="postDetail">
    <h1>{{ entry.title }}</h1>
    </br>
    <div class="postInfo">
        <p>{{ entry.user.username }}</p>
        <div class="box"></div>
         <p>|</p>
        <div class="box"></div>
        <p>{{ entry.date|date("m/d/Y") }}</p>
    </div>
    <div class="content">
        <p>{{ entry.content }}</p>
    </div>
    <a href="/blog">Go back</a>
</div>

{% endblock %}