{% extends "base.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- Start slider -->
    <div class="slider-area">
        <div class="slider-item-active">
            <!-- Single -->
            <div class="slider-item">
                <div class="slider-bg1 slider-height hero-overly slider-bg1 d-flex align-items-center ">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-9 col-lg-10">
                                <div class="slide-content">
                                    <h1>Photography</h1>
                                    <img src="assets/img/icon/signature.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer Content -->
                <div class="slider-caption2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-7 col-sm-8">
                                <div class="slide-content2">
                                    <h4><span>Express yourself</span></h4>
                                    <p>Get inspired by the community and let your creativity soar and go wild</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single -->
            <div class="slider-item">
                <div class="slider-bg2 slider-height hero-overly slider-bg1 d-flex align-items-center ">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-9 col-lg-10">
                                <div class="slide-content">
                                    <h1>Photography</h1>
                                    <img src="assets/img/icon/signature.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer Content -->
                <div class="slider-caption2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-7 col-sm-8">
                                <div class="slide-content2">
                                    <h4><span>Express yourself</span></h4>
                                    <p>Get inspired by the community and let your creativity soar and go wild</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single -->
            <div class="slider-item">
                <div class="slider-bg3 slider-height hero-overly slider-bg1 d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-9 col-lg-10">
                                <div class="slide-content">
                                    <h1>Photography</h1>
                                    <img src="assets/img/icon/signature.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer Content -->
                <div class="slider-caption2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-7 col-sm-8">
                                <div class="slide-content2">
                                    <h4><span>Express yourself</span></h4>
                                    <p>Get inspired by the community and let your creativity soar and go wild</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dot - image -->
        <div class="slider-nav text-center">
            <div class="slider-thumb">
                <img src="assets/img/hero/slider-dot1.png" alt="">
            </div>
            <div class="slider-thumb">
                <img src="assets/img/hero/slider-dot2.png" alt="">
            </div>
            <div class="slider-thumb">
                <img src="assets/img/hero/slider-dot3.png" alt="">
            </div>
            <div class="slider-thumb">
                <img src="assets/img/hero/slider-dot2.png" alt="">
            </div>
        </div>
    </div>
    <!-- End Start slider -->
    <!--? Gallery Area Start -->
    <div class="gallery-area section-padding40">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6">
                    <div class="section-tittle mb-50">
                        <h2>With my camera, I capture daily life</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-tittle mb-60">
                        <p>Explore photos posted by other photographers and picture editors, view resources 
                        that they can use to improve their work and contribute to the knowledge sharing within 
                        the community through blogs</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-xl-5 col-lg-5 col-md-6 col-sm-6">
                    <div class="box snake mb-30">
                        <div class="gallery-img small-img " style="background-image: url(assets/img/gallery/gallery1.png);"></div>
                        <figcaption></figcaption>
                        <div class="overlay-content">
                            <a href="assets/img/gallery/gallery1.png" class="img-pop-up"><i class="ti-plus"></i></a>
                        </div>    
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-6 col-sm-6">
                    <div class="box snake mb-30">
                        <div class="gallery-img small-img " style="background-image: url(assets/img/gallery/gallery2.png);"></div>
                        <figcaption></figcaption>
                        <div class="overlay-content">
                            <a href="assets/img/gallery/gallery2.png" class="img-pop-up"><i class="ti-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="box snake mb-30">
                        <div class="gallery-img small-img " style="background-image: url(assets/img/gallery/gallery3.png);"></div>
                        <figcaption></figcaption>
                        <div class="overlay-content">
                            <a href="assets/img/gallery/gallery3.png" class="img-pop-up"><i class="ti-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="box snake mb-30">
                        <div class="gallery-img small-img " style="background-image: url(assets/img/gallery/gallery4.png);"></div>
                        <figcaption></figcaption>
                        <div class="overlay-content">
                            <a href="assets/img/gallery/gallery4.png" class="img-pop-up"><i class="ti-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery Area End -->

{% endblock %}
